{% extends 'base.html.twig' %}

{% block title %}main!{% endblock %}

{% block body %}
   <a href="{{ path('app_main2') }}">vers main2</a>
   <a href="{{ path('app_page1',{'prenom':'Yasmine'}) }}">vers page1</a>
   
   <h1>Ma page main</h1>
   <h2>Mon nom est : {{ nom }} </h2>
   <img src="{{asset('images/iset.png')}}">

{% endblock %}
