{% extends 'base.html.twig' %}

{% block title %}Page1{% endblock %}

{% block body %}
   <h1>Ma page PAGE1</h1>
   <ul>
   <li>Nom :{{ nom }} </li>
   <li>Prenom :{{ prenom }}</li>
   <li>Date de naissance : {{ dateNaiss }} </li>
   </ul>
   <h1>Mes loisirs</h1>
<ul>
    {% for l in hobs %}
        <li>{{ l }}</li>
    {% endfor %}
</ul>
{% endblock %}
