{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	<h1>Suppression du produit</h1>
	<div class="container">

<div class="alert alert-success" role="alert">
 Le produit est supprimer avec succes
</div>
		

	</div>

{% endblock %}
